{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Add New Product</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="flex flex-col min-h-screen bg-gray-900">
  <div class="container mx-auto px-4 py-8 mt-16 max-w-xl">
    <h1 class="text-3xl font-bold text-center mb-8 text-yellow-500">Add New Product</h1>  <!-- Changed header color to yellow -->

    <div class="bg-gray-800 rounded-lg p-6 form-style">
      <form method="POST" class="space-y-6">
          {% csrf_token %}
          <div class="grid grid-cols-1 gap-6">
              <!-- Name -->
              <div class="flex flex-col">
                  <label for="name" class="mb-2 font-semibold text-white">
                      Name
                  </label>
                  <div class="w-full">
                      {{ form.name }}
                  </div>
                  {% for error in form.name.errors %}
                      <p class="mt-1 text-sm text-red-600">{{ error }}</p>
                  {% endfor %}
              </div>

              <!-- Weapon -->
              <div class="flex flex-col">
                  <label for="weapon" class="mb-2 font-semibold text-white">
                      Weapon
                  </label>
                  <div class="w-full">
                      {{ form.weapon }}
                  </div>
                  {% for error in form.weapon.errors %}
                      <p class="mt-1 text-sm text-red-600">{{ error }}</p>
                  {% endfor %}
              </div>

              <!-- Exterior -->
              <div class="flex flex-col">
                  <label for="exterior" class="mb-2 font-semibold text-white">
                      Exterior
                  </label>
                  <div class="w-full">
                      {{ form.exterior }}
                  </div>
                  {% for error in form.exterior.errors %}
                      <p class="mt-1 text-sm text-red-600">{{ error }}</p>
                  {% endfor %}
              </div>

              <!-- Category -->
              <div class="flex flex-col">
                  <label for="category" class="mb-2 font-semibold text-white">
                      Category
                  </label>
                  <div class="w-full">
                      {{ form.category }}
                  </div>
                  {% for error in form.category.errors %}
                      <p class="mt-1 text-sm text-red-600">{{ error }}</p>
                  {% endfor %}
              </div>

              <!-- Quality -->
              <div class="flex flex-col">
                  <label for="quality" class="mb-2 font-semibold text-white">
                      Quality
                  </label>
                  <div class="w-full">
                      {{ form.quality }}
                  </div>
                  {% for error in form.quality.errors %}
                      <p class="mt-1 text-sm text-red-600">{{ error }}</p>
                  {% endfor %}
              </div>

              <!-- Description -->
              <div class="flex flex-col">
                  <label for="description" class="mb-2 font-semibold text-white">
                      Description
                  </label>
                  <div class="w-full">
                      {{ form.description }}
                  </div>
                  {% for error in form.description.errors %}
                      <p class="mt-1 text-sm text-red-600">{{ error }}</p>
                  {% endfor %}
              </div>

              <!-- Quantity -->
              <div class="flex flex-col">
                  <label for="quantity" class="mb-2 font-semibold text-white">
                      Quantity
                  </label>
                  <div class="w-full">
                      {{ form.quantity }}
                  </div>
                  {% for error in form.quantity.errors %}
                      <p class="mt-1 text-sm text-red-600">{{ error }}</p>
                  {% endfor %}
              </div>

              <!-- Price -->
              <div class="flex flex-col">
                  <label for="price" class="mb-2 font-semibold text-white">
                      Price
                  </label>
                  <div class="w-full">
                      {{ form.price }}
                  </div>
                  {% for error in form.price.errors %}
                      <p class="mt-1 text-sm text-red-600">{{ error }}</p>
                  {% endfor %}
              </div>
          </div>

          <div class="flex justify-center mt-8">
            <button type="submit" class="bg-gradient-to-r from-yellow-400 to-yellow-600 text-gray-900 px-6 py-3 rounded-lg font-bold hover:from-yellow-500 hover:to-yellow-700 transition-all duration-300 shadow-lg ease-in-out w-full">
                Add New Product
            </button>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
